<h1 class="mt-4">Faça upload do seu arquivo</h1>

<div class="upload_form my-3">
  <%= form_for @sale do |f| %>
    <div class="upload_label my-2">
      <%= f.label :upload_file, value: "Escolha um arquivo" %>
    </div>
    <div class="upload_input my-4">
      <%= f.file_field :uploaded_file %>
    </div>
    <div>
      <%= f.submit "Enviar", class: "upload_button btn btn-success my-2" %>
    </div>
  <% end %>
</div>

<%= link_to "Voltar para a página principal", sales_path %>